* {
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Sans-Serif;
    font-size: 16px;
}
.page {
    max-width: 900px;
    background-color: white;
    margin: auto;
    position: relative;
}
header {
    background-color: lightgray;
    width: 100%;
}
.header-img {
    position: relative;
    display: block;
}
.header-img span {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
    font-size: 1.2rem;;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 10px 35px;
    border-right: 1px solid white;
    text-transform: uppercase;
    font-size: 0.9rem;
}
nav ul li:hover {
    background-color: green;
    color: white;
}
nav ul a {
    text-decoration: none;
    color: black;
}
main {
    width: 100%;
    padding: 25px 25px 0px 25px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}
main div.right {
    margin-left: 30px;
}
div.box {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
div.box:hover {
    background-color: lightgray;
}
div.box h2 {
    margin: 0px;
    text-transform: uppercase;
    color: rgb(70, 224, 70);
}
div.box h2.stitle {     
    text-transform: capitalize;
    margin-bottom: 35px;
}
div.box p {
    font-size: 0.8rem;
}
div.products {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
div.products img {
    width: 100%;
    height: 100%;
    max-height: 150px;
}
div.products h3 {
    margin: 0px;
    font-size: 1.1rem;
}
.text-block {
    display: block;
}
.see-more {
    color: green;
}
.see-more:visited {
    color: green;
}
footer {
    background-color: green;
    width: 100%;
    position: relative;
}
footer span {
    display: block;
    padding: 30px;
    text-align: center;
}
footer a {
    color: black;
}

@media screen and (max-width: 900px) {
    .page {
        max-width: 100%;
        margin: 0;
    }

    nav ul li {
        display: block;
        padding: 10px;
        border: none;
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
    }
    
    main {
        width: 100%;
        padding: 25px 25px 0px 25px;
        display: grid;
        grid-template-columns: 1fr;
    }
    main div.right {
        margin: 0px;
    }
}